body{
    background-color: #C0FFB3;
}
div{
    margin-left: 650px;   
}
h1{
    font-family: optima;
    color: #8AACFF;
}
li{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #EA5455;
    font-size: large;
    width: 579.600px;
    height: 30px;
}